*{
    padding: 0;
    margin: 0;
    font-size: 16px; 
    font-family: "Open Sans", sans-serif;
}

body{
	background-size: cover;
    background-position: centre;
    background: #ffffff;
    height: 100vh;
}
/*=========================== End OF Body=======================================*/

/*========================  Form box  ===========================*/

.form-box {
    width: 70%;
    margin: auto;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*=================== Image ========================*/

.image {
    background-image: url(../images/create_transaction.jpg);
    display: block;
    margin: auto;

    width: 100%;
    display: flex;
    background-position: center;
    background-size: 100% 100%;
}

/*============================ Text in image ==================*/

.text-content {
    margin-right: 0;
    margin-top: 35px;
    width: 38%;
    padding: 70px;
    color: black;
    text-align: left;
}

/*===================== Input Field ===============*/

.input-group {
    margin-top: 5%;
    transition: .5s;
    width: 100%;
    padding-right: 50px;
    background: transparent;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.input-field {
    
    font-size: 16px;
    outline: 0;
    width: 400px;
    padding: 10px 40px;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 25px;
    background: rgb(236, 226, 226);
    border: none;
    transition: 0.2s;
}

/*===================== Label ===============*/

.label-field {
    font-family: sans-serif;
    font-size: 18;
}

/*========================== button =====================*/

.btn {
    font-size: 22;
    margin-top: 25px;
    margin-bottom: 80px;
    position: relative;
    letter-spacing: 1px;
    padding: 8px 100px;
    border-radius: 25px;
    color: #7a007a;
    border: 2px solid #7a007a;
    outline: none;
    cursor: pointer;
    background: #ffffff;
}

.btn:hover {
    background: #7a007a;
    color: #ffffff;
}

/*========================= Headings ===================*/

.form-box h1.A {
    width: 100%;
    background-color: rgba(0, 50, 107,0.9);
    font-size: 35px;
    text-align: center;
    margin: 0px 0px 15px 0px;
    padding: 12px 0;    
    color: rgba(255,255,255, 0.6);
    /*text-shadow: 3px 3px 1px black;*/
}
.form-box h1.B {
    background-color: rgba(207, 216, 211,0.9);
    width: 100%;
    font-size: 35px;
    text-align: center;
    margin: auto;
    padding: 12px 0;    
    color: rgba(0, 50, 107,0.9);
    /*text-shadow: 3px 3px 1px black;*/
}

/*===================== Drop Down =================*/


.dropdown {
    font-size: 16px;
    outline: 0;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    text-align: center;
    margin-bottom: 25px;
    border-radius: 25px;
    background: rgb(236, 226, 226);
    border: none;
    transition: 0.2s;
}

.dropdown:hover .option {
    display: block;
}

/*======================= arrow removal ====================*/

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
  -webkit-appearance:none;
}

#rec {
    -webkit-appearance: none;
    display: none;
    margin-left: 5px;
    
}

#B {
    display: none;
}

#create {
    display: none;
}

#A {
    display: none;
}

#pending {
    display: none;
}

/*======================= NAV BAR ===========================*/

.menu_bar{
    background: rgb(0,0,0);
    text-align: right;
    z-index: 3;
}
.menu_bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
    text-align: center;
}
.menu_bar ul li{
    width: auto;
    margin: 22px;
    padding: 15px;
    transition: 0.2s;
}
.menu_bar ul li a{
    text-decoration: none;
    color: #fff;
    transition: 0.2s;
}

.active, .menu_bar ul li:hover{
   
    content: '';
    border-bottom: 4px solid #fff;
    transition: 0.3s;
}

.menu_bar ul li:hover{

     content: '';
     border-bottom: 4px solid #fff;
     transition: 0.3s;
 }

.sub_menu{
    display: none;
    z-index: 3;

}
.menu_bar ul li:hover .sub_menu{
    display: block;
    position: absolute;
    background: rgb(0,0,0);
    margin-top: 15px;
    margin-left: -15px;
}

.menu_bar ul li:hover .sub_menu ul{
    display: block;
    margin: 10px;
}

.menu_bar ul li:hover .sub_menu ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu_bar ul li:hover .sub_menu ul li:last-child{
    border-bottom: none;
}
.menu_bar ul li:hover .sub_menu ul li :hover
{
    font-style: italic;
}

