* {
    margin: 0;
    padding: 0;
    font-size: 16px; 
    font-family: sans-serif;
}

body {
    height: 100vh;
    background-size: cover;
    background-position: center;
    
}

/*=================== Image ========================*/

.image {
    background-image: url(../images/admin.jpg);
    display: block;
    margin: auto;

    width: 100%;
    display: flex;
    background-position: center;
    background-size: 100% 100%;
}

/*============================ Text in image ==================*/

.text-content {
    margin-right: 0;
    margin-top: 35px;
    width: 40%;
    letter-spacing: 1px;
    padding: 5% 5% 5% 10%;
    color: white;
    text-align: left;
}

/*==================Nav bar================================*/

.menu_bar{
    background: rgb(0,0,0);
    text-align: right;
    z-index: 3;
}
.menu_bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
    text-align: center;
}
.menu_bar ul li{
    width: auto;
    margin: 22px;
    padding: 15px;
    transition: 0.2s;
}
.menu_bar ul li a{
    text-decoration: none;
    color: #fff;
    transition: 0.2s;
}

.active, .menu_bar ul li:hover{
   /* background: #2bab0d;*/
    content: '';
    border-bottom: 4px solid #fff;
    transition: 0.3s;
}

.menu_bar ul li:hover{
    /* background: #2bab0d;*/
     content: '';
     border-bottom: 4px solid #fff;
     transition: 0.3s;
 }

.sub_menu{
    display: none;
    z-index: 3;

}
.menu_bar ul li:hover .sub_menu{
    display: block;
    position: absolute;
    background: rgb(0,0,0);
    margin-top: 15px;
    margin-left: -15px;
}

.menu_bar ul li:hover .sub_menu ul{
    display: block;
    margin: 10px;
}

.menu_bar ul li:hover .sub_menu ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu_bar ul li:hover .sub_menu ul li:last-child{
    border-bottom: none;
}

.menu_bar ul li:hover .sub_menu ul li :hover
{
    font-style: italic;
}

/*================= form box ===========================*/

.form-box {
    width: 70%;
    margin: auto;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*================= search bar ===========================*/

.input-field:hover {
    box-shadow: -2px 2px 3px rgba( 0, 0, 0, 0.3 );
}
.input-group {
    margin-top: 3% ;
    transition: .5s;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    text-align: center;   
}
.input-field {
    font-size: 16px;
    letter-spacing: 1px;
    outline: 0;
    width: 50%;
    padding: 10px 40px;
    text-align: center;
    margin-bottom: 25px;
    border-radius: 25px;
    background: rgb(236, 226, 226);
    border: none;
    transition: 0.2s;
    
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
  -webkit-appearance:none;
}

/*================= search button ===========================*/

.btn {
    color: #55462b;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 25px;
    position: relative;
    padding: 10px 30px;
    border-radius: 25px;
    border: 2px solid #55462b;
    outline: none;
    cursor: pointer;
    background: #ffffff;
    margin-right: 15%;
}
.btn:hover {
    background:#55462b;
    color: #ffffff;
}

/*================= reset button ===========================*/

.reset-btn {
    color: #55462b;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 25px;
    position: relative;
    padding: 10px 30px;
    border-radius: 25px;
    border: 2px solid #55462b;
    outline: none;
    cursor: pointer;
    background: #ffffff;
    margin-left: 15%;
    
}
.reset-btn:hover {
    background: #55462b;
    color: #ffffff;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/*================= headings ===========================*/

.form-box h1.A {
    width: 100%;
    background-color: #55462b;
    font-size: 35px;
    text-align: center;
    margin: 0px 0px 15px 0px;
    padding: 12px 0;    
    color: rgba(255,255,255, 0.6);
    /*text-shadow: 3px 3px 1px black;*/
}

.form-box h1.B {
    background-color: rgba(207, 216, 211,0.9);
    width: 100%;
    font-size: 40;
    text-align: center;
    margin: 40px auto;
    padding: 12px 0;    
    color: #55462b;
}

/*================= check box ===========================*/

.check-container {
    width: 50%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checkbox-container {
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 10px;
    margin-bottom: 10px;
    text-align: left;
    left: 35%;
    font-family: sans-serif;
    font-size: 17;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-container input {
    display: none;
}

.checkmark {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background: #eee;
    border-radius: 5px;
    top: 0;
    left: -8%;
}

.checkbox-container input:checked + .checkmark {
    background-color: #2bab0d;
}

.checkbox-container:hover .checkmark {
    background-color: #ccc;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}
  
.checkbox-container .checkmark:after {
    left: 30%;
    top: 10%;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*======================= Table =========================*/

.table-wrapper{
    width: 85%;
    margin: 30px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: normal;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 14px;
}

.fl-table thead th {
    color: #ffffff;
    background: #2bab0d;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: rgb(0,100,0);
}

.fl-table tr:nth-child(even) {
    background: rgba(226, 226, 226, 0.9);
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}